#content{
    backface-visibility:hidden;
    -webkit-backface-visibility:hidden; /* Chrome and Safari */
    -moz-backface-visibility:hidden; /* Firefox */
    -ms-backface-visibility:hidden; /* Internet Explorer 10+ */
}

/* Demo toolbar styles */
#toolbar {
	background: #363636;
	border-bottom: 1px solid #000;
	display: block;
	clear:both;
	z-index: 1000;
}

#toolbar h1 {
	color: #fff;
	font-size: 16px;
}

#toolbar .icon {
	color: #fff;
}

.snap-content {
	background: #202020;
}

a, a:hover, a:active {
	text-decoration: none;
	color: #000;
}

.posts {
	margin-top: 44px;
}

.post-item {
	margin: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #ddd;
}

.post-item a {
	width: 100%;
}

.post-item img {
	width: 100%;
	border-radius: 4px 4px 0px 0px;
}
	
	.post-item .info {
		width: 100%;
		padding: 10px;
	}

	.post-item.info h2 {
		font-size: 18px;
		width: 100%;
	}

/* Landscape */
@media only screen and (min-width: 480px) {

	.posts {
		width: 100%;
		margin-top: 44px;
	}

	.post-item {
		min-width: 47%;
		max-width: 47%;
		float: left;
	}

		.post-item.info h2 {
			font-size: 12px;
			width: 100%;
		}

}