body {
	background-color: #000;
}

* {
	border: none;
	color: #000;
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;
}

.icon {
	color: #555;
}

.bar-nav {
	background: #f7f7f7;
	border-bottom: 1px solid #b7b7bb;
}

	.bar-nav h1 {
		color: #000;
	}

.content {
	background: #efeff4;
	margin: 0;
}

img.post-head {
	display: inline-block;
	width: 100%;
}

ul.post-list, ul.table-view {
	border: none;
	margin: 0;
}

.post-item {
	background: #202020;
	border: none;
	background-repeat: no-repeat;
	background-position: center top;
}

	.post-item a .media-body{
		color: #000;
		background-color: #fff;
		padding: 10px;
	}

	.content>.table-view:first-child {
		margin: 0;
	}

.wrap {
	max-width: 100%;
}

.hero {
	width: 100%;
}

.post-page {
	color: #000;
}
	
	.post-page h3 {
		color: #222;
		font-weight: 200;
	}

	.post-page p {
		color: #000;
	}